name: Update Google Slides Menu

on:
  workflow_dispatch:

  schedule:
    - cron: '0 7 1 * *'   # 1st of every month at 07:00 UTC

jobs:
  update_slide:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          persist-credentials: true

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run menu generator
        run: python server.py

